.m-card-system {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	border-bottom: 1px solid $gray-light2;

	@include sp {
		grid-template-columns: minmax(0, 1fr);
	}

	&--col2 {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		border-bottom: 1px solid $gray-light2;

		@include sp {
			grid-template-columns: minmax(0, 1fr);
		}

		.o-card-system:nth-of-type(2n) {
			@include pc {
				border-right: none;
			}
		}

		.o-card-system:nth-of-type(3n) {
			@include pc {
				border-right: 1px solid $gray-light2;
			}
		}
	}
}
