.m-info {
	padding: 160px 0 80px;
	background-color: $blue-lighter;

	@include sp {
		padding: 100px 0 40px;
	}

	&.is-front {
		background-color: transparent;
	}
}

.m-info__cards {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: vw(24);
	margin-top: 48px;

	@include sp {
		grid-template-columns: minmax(0, 1fr);
		gap: 12px;
	}
}

.m-info__btns {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: vw(24);
	margin-top: 80px;

	@include sp {
		grid-template-columns: minmax(0, 1fr);
		gap: 8px;
		margin-top: 40px;
	}
}
