.p-interview__lead {
	font-size: rem(24);
	font-weight: 700;
	line-height: 1.75;
	text-align: center;
	letter-spacing: 0.03em;

	@include sp {
		font-size: rem(18);
	}
}

.p-interview__slider {
	padding: 90px 0 !important;
	margin-top: 112px;

	@include sp {
		padding: 60px 0 !important;
		margin-top: 56px;
	}
}

.p-interview__slider__bg {
	position: absolute;
	top: 0;
	left: 50%;
	width: vw(320);
	transform: translateX(-50%);

	@include sp {
		width: vw-sp(168);
	}
}

.p-interview__slide {
	&--01 {
		position: relative;
		top: -40px;
	}

	&--02 {
		position: relative;
		top: 0;
	}

	&--03 {
		position: relative;
		top: 40px;
	}

	&--04 {
		position: relative;
		top: 0;
	}

	&--05 {
		position: relative;
		top: -40px;
	}
}

.p-interview__index {
	margin-top: 120px;

	@include sp {
		margin-top: 60px;
	}
}

.p-interview__index__cont {
	display: grid;
	grid-template-columns: minmax(0, 1fr);

	@include pc {
		gap: 120px;
		padding-left: vw(40);
	}

	@include sp {
		gap: 60px;
	}
}

.p-interview__index__link {
	display: flex;

	@include pc {
		gap: vw(80);
		justify-content: space-between;
	}

	@include sp {
		flex-direction: column-reverse;
		gap: 40px;
	}
}

.p-interview__index__text {
	@include pc {
		flex: 1;
		width: 100%;
		padding-left: vw(40);
	}
}

.p-interview__index__hd {
	margin: 32px 0;
	line-height: 1.5;

	@include sp {
		margin: 14px 0;
	}
}

.p-interview__index__icon {
	margin-top: 40px;

	@include sp {
		margin-top: 28px;
	}
}

.p-interview__index__pic {
	@include pc {
		width: vw(560);
	}

	@include sp {
		width: 100%;
	}
}
