@use "sass:math";

.p-tech__sections {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	gap: 120px;

	@include sp {
		gap: 60px;
	}
}

.p-tech__sec__body {
	margin-top: 120px;

	@include sp {
		margin-top: 60px;
	}
}

.p-tech__area {
	border-bottom: 1px solid $gray-light2;

	@include pc {
		display: flex;
		gap: vw(80);
		align-items: flex-start;
		justify-content: space-between;
		padding: 80px 0;
	}

	@include sp {
		padding: 40px 0;
	}
}

.p-tech__info {
	display: flex;
	flex: 1;
	gap: vw(40);
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;

	@include sp {
		gap: vw-sp(20);
	}
}

.p-tech__info__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: vw(160);
	aspect-ratio: 1 / 1;
	padding: 40px;
	clip-path: inset(0 0 round 50%);
	background: linear-gradient(45deg, rgb(79 204 255 / 100%) 0%, rgb(207 241 255 / 100%) 100%);

	@include sp {
		width: vw-sp(60);
		padding: 15px;
	}
}

.p-tech__info__text {
	flex: 1;
	gap: 16px;
	width: 100%;

	@include sp {
		gap: 12px;
	}
}

.p-tech__items {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	gap: 16px;
	width: vw(520);

	@include sp {
		gap: 8px;
		width: 100%;
		margin-top: 40px;
	}
}

.p-tech__item {
	padding: 40px vw(40) 0;
	border: 1px solid $black;
	border-radius: 9999px;

	@include sp {
		padding: 32px vw-sp(32) 0;
	}
}

.p-tech__item__head {
	position: relative;
	z-index: 1;
	display: flex;
	gap: 40px;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 40px;

	@include sp {
		gap: 32px;
		padding-bottom: 32px;
	}
}

.p-tech__item__body {
	position: relative;
	z-index: 1;
}

.p-tech__item__body__inner {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	gap: 24px;
}

.p-tech__lower {
	position: relative;
	margin-top: 160px;

	@include sp {
		margin-top: 80px;
	}
}

.p-tech__motif {
	position: absolute;
	top: -56px;
	left: 0;
	width: vw(math.div(336, 2));

	@include sp {
		top: -48px;
		left: vw-sp(-30);
		width: vw-sp(math.div(168, 2));
	}
}
