.fp-business {
	padding-top: 200px;

	@include sp {
		padding-top: 100px;
	}
}

.fp-business__cont {
	@include pc {
		display: flex;
		gap: vw(120);
		align-items: flex-start;
		justify-content: space-between;
		padding-right: vw(80);
	}

	@include sp {
		padding-left: vw-sp(20);
	}
}

.fp-business__pics {
	@include pc {
		width: vw(600);
	}

	@include sp {
		width: 100%;
	}
}

.fp-business__text {
	display: grid;
	flex: 1;
	grid-template-columns: minmax(0, 1fr);
	gap: 48px;

	@include sp {
		gap: 32px;
		padding-right: vw-sp(20);
		margin-top: 60px;
	}
}

.fp-business__btn {
	display: flex;
	justify-content: flex-end;
	margin-top: 8px;
}

.fp-business__slider {
	position: relative;
	aspect-ratio: 600 / 350;

	@include pc {
		width: vw(600);
	}

	@include sp {
		width: 100%;
	}
}

.fp-business__slide {
	position: absolute;
	top: 0;
	clip-path: inset(0 0 round 9999px);

	@include pc {
		width: vw(560);
	}

	@include sp {
		width: calc(100% - vw-sp(20));
	}

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		background-color: rgba($blue-light3, 0.7);
	}
}
